@charset "utf-8";

/* Workaround for IE's lack of support for rendering web pages */

#divPageLeft
	{
        display: inline-block;
        zoom: 1;
        *display: inline;
	}

#divPageCenter
        {
        display: inline-block;
        zoom: 1;
        *display: inline;
        }

#divPageRight
        {
        display: inline-block;
        zoom: 1;
        *display: inline;
        }

ul.customers li
        {
        padding: 0px;
        margin: 20px 20px;
        width: 100px;
        height: 100px;
        display: inline;
        overflow: hidden;
        line-height: 100px;
        }

ul.customers li img
        {
        vertical-align: middle;
		width: auto;
		height: auto;
		position: absolute;
        }

.redButton 
	{
	display: inline; 
	white-space: nowrap;
	font-weight: bold;
        font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
        color: #FFFFFF;
        line-height: 1em;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
	padding: .25em .25em .25em .25em; 
	overflow: visible;
	border: 2px solid;  /* remove to make yui action work again */
	border-color: #C0C0C0 #444444 #444444 #C0C0C0;   /* remove to make yui action work again */
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background-clip: border-box;
        background: #910707; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2ZmZmZhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
        background: -moz-linear-gradient(top, #ED2828, #910707); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#ED2828), color-stop(#910707)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ED2828, #910707); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ED2828, #910707); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ED2828, #910707); /* IE10+ */
        background: linear-gradient(to bottom, #ED2828, #910707); /* W3C */
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910707', endColorstr='#ED2828',GradientType=0 );*/ /* IE6-8 */
	}
	
		
.footerlinkscolumn1 {
	width: 150px;
	height: 100%;
	margin-right: 10px;
	position: relative;
	display: inline;
	vertical-align: top;
	white-space: normal;
}