body
	{
	//font-family: "Trebuchet MS", "Sans Serif";
	font-size: 10pt;
	}
.CalTable
	{
	background-color: #555;
	}

.CalHeading
	{
	background-color: #DDD;
	color: white;
	font-weight: bold;
	font-size: 12pt;
	}

.CalDayHeading
	{
	background-color: DDD;
	Font-weight: bold;
	color: black;
	}	
	
.CalNoDay
	{
	background-color: #DDD;
	//font-family: "Trebuchet MS", "Sans Serif";
	font-size: 9pt;
	}

.CalDay
	{
	background-color: #FFFFFF;
	}

a.CalDaylink
	{
	color: navy;
	font-weight: bold;
	font-size: 12pt;
	}

a.CalDaylink:hover
	{
	text-decoration: none;
	}

a.CalEventlink
	{
	color: navy;
	font-size: 8pt;
	line-height: 110%;
	}
	
